body{
	font-family: "Courier";
	background-color: #0094FF;
	color: white;
}
input{
	background-color: black;
	color: white;
	border-color: white;
}
select{
	color: white;
	background-color: black;
	border-color: white;
}
option{
	background-color: black;
	color: white;
	border-color: white;
}